body {
  background: #ffffff;
  color: #333333;
}

h2, h3, h4, h5, h6 {
  color: #444444;
}

.header h1{
  padding: 50px;
  text-align: center;
  background: #213b52;
  color: white;
  font-size: 85px;
  line-height: 30px;
  margin-bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}

.navbar-expand-sm{
  background: #A9A9A9;
  height: 50px;
}

.fa-angle-down{
  height: 1000%;
}


.navbar-expand-sm .navbar-nav .nav-item .nav-link{
  color: black;
}

.navbar-expand-sm .navbar-nav .nav-item .home{
  width:25px;
  height:25px;
}

.navbar-expand-sm .navbar-nav .nav-item {
  padding-left: 15px;
}

#hero {

  background: #213b52;
  height: 700px;

}

.media-body{
  margin-top: 14px;
  margin-left: 10px;
}

.content-section {
  background: #ffffff;
  padding: 5px 8px;
  border: 5px solid #A9A9A9;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 32%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.url {
  background-color: #A9A9A9;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  color: #000000;
  border: 2px solid #808080;
  border-radius: 7px;
  padding: 5px 10px;
  margin-top: 50px;
  font-weight: bold;
}

.Article {
  background-color: #A9A9A9;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  color: #000000;
  border: 2px solid #808080;
  border-radius: 7px;
  padding: 5px 10px;
  margin-top: 50px;
  font-weight: bold;
}

.container{
  margin-top: 10px;
  max-width: 82%;
}

.url .container{
  margin-top: 10px;
  max-width: 100%;
}

.Article .article{
  margin-top: 10px;
  max-width: 100%;
}

.evaluation_article .container{
  margin-top: 10px;
  margin-left: 8.5%;
  margin-bottom: 5%;
}

.article .form-group .form-control{
  padding-bottom: 80px;
}

.article .form-group .form-control.placeholder{
  top: 10px;
  right: 10px;
}

.content-section-result {
  background: #f0f8ff;
  padding: 8px 20px;
  border: 1px solid #A9A9A9;
  border-radius: 10px;
  margin-bottom: 100px;
  width: 90%;
  margin-left: 2.5%;
  margin-right: 0px;
}

.content-section-result-metric {
  background: #ffffff;
  padding: 2px 20px;
  border: 1px solid #A9A9A9;
  border-radius: 100px;
  margin-bottom: 50px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 60px;
}

.content-section-evaluation {
  background: #ffffff;
  padding: 8px 20px;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 0%;
  width: 80%;
  margin-right: auto;
  margin-left: 7%;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(150,141,150,1);
  -moz-box-shadow: 0px 0px 19px 4px rgba(150,141,150,1);
  box-shadow: 0px 0px 19px 4px rgba(150,141,150,1);
}

.collapsible {
  background-color: #A9A9A9;
  color: black;
  cursor: pointer;
  padding: 15px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom: 0em;
  padding: 11px 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.title{
  margin-top: 55px;
  margin-left: 40px;
  color: #003cb3;
  width: 90%;

}

.indicators-title{
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

.content-section-result .article_size {
  display: block;
  width: auto;
  height: 375px;
  overflow: scroll;
  white-space: normal;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;

}

.content-section-evaluation .article_size {
  display: block;
  width: auto;
  height: 280px;
  overflow: scroll;
  white-space: normal;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;

}

.evaluation_article{
  float: left;
  max-width: 46%;
}

.evaluation_metrics{
  float: left;
  max-width: 54%;
}

.link-button{
  display:inline;
  margin-left:10px;
  color: blue;
  font-size: 25px;
  text-decoration: underline;
}


.article-content {
  white-space: pre-line;
}


.orientation-1{
    overflow: hidden;
}

.orientation-2{
    float:left;
    width: 60%;
    margin-right: 0px;
}

.article-classification{
    float:left;
    margin-top: 120px;
    font-size: 30px;
}


.metric-section {
  background: #FFEBCD;
  padding: 3px 8px;
  border: 5px solid #A9A9A9;
  border-radius: 25px;
  margin-bottom: 25px;
  width: 60%;
  margin-top: 30px;
  margin-left: 220px;
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 60px 80px 0 rgba(0, 0, 0, 0.19);
}


.metric-section-2 {
  background: #FFEBCD;
  padding: 3px 8px;
  border: 5px solid #A9A9A9;
  border-radius: 15px;
  margin-bottom: 25px;
  width: 30%;
  margin-top: 30px;
  margin-left: 220px;
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 60px 80px 0 rgba(0, 0, 0, 0.19);
  display: inline;
}



.row {
  margin: auto;
  width: 97%;
  padding-bottom: 120px;
  padding-top: 120px;
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 60px 80px 0 rgba(0, 0, 0, 0.19);
}

.article-metadata {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  background-color: #FFEBCD;
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 60px 80px 0 rgba(0, 0, 0, 0.19);
}

.list-group .list-group-item {
  background: #A9A9A9;
}


.notice h1{
  padding: 3px;
  background: #B0C4DE;
  color: black;
  text-align: center;
  font-size: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.progress-bar2{
  color: #000000;

}

.progress-bar1{
  color: black;
  text-align:right;
  background:linear-gradient(to right, green 33%, yellow 34%, yellow 66%, red 0);
}


.dot {
  margin-top: 8px;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.evaluation_metrics .dot {
  margin-top: 8px;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  float: left;
}

.source{
  width:25px;
  height:25px;
  display: block-inline;
  border-radius: 100%;
}


/* progress bar with gradient */


.ref {
    position: relative;
    left: 50%;
    width: 0.7%;
    height: 90%;
    background-color: black;
    animation: cssAnimation 0s 5s forwards;
    visibility: hidden;
}
.ref:before {
    content: attr(data-ref);
    position: absolute;
    width: 100px;
    left: -50px;
    top: 100%;
    color: #000;
    text-align: center;
    font-size: 15px;
    margin-top: 6px;
    animation: cssAnimation 0s 5s forwards;
    visibility: hidden;

}

.container-gradient {
  margin: 3% auto;
  width: 135%;
  text-align: center;
}

.progress-gradient {
  padding: 1%;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar-gradient {  
  height: 18px;
  background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped .progress-bar-gradient {  
  background-color: #FCBC51; 
  width: 100%; 
  background-image: linear-gradient( 90deg, green 20%, green 20%, yellow 40%, yellow 60%, red 80%, red 80%, red); 
  animation: progressAnimationStrike 4s;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}


$green: #4cd964;
$turquoise: #5ac8fa;
$blue: #007aff;
$light-blue: #7DC8E8;
$purple: #5856d6;
$red: #ff2d55;


/* end of progress bar with gradient */


.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}



.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*  Twitter tweets   */


/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
.hero {
  padding: 6.25rem 0px !important;
  margin: 0px !important;
}
.cardbox {
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px !important;
}

/* ------------------------------- */
/* Cardbox Heading
---------------------------------- */
.cardbox .cardbox-heading {
  padding: 16px;
  margin: 0;
}
.cardbox .btn-flat.btn-flat-icon {
 border-radius: 50%;
 font-size: 24px;
 height: 32px;
 width: 32px;
 padding: 0;
 overflow: hidden;
 color: #fff !important;
 background: #b5b6b6;
 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}


/* ------------------------------- */
/* Cardbox Item
---------------------------------- */
.cardbox .cardbox-item {
    position: relative;
    display: block;
}
.cardbox .cardbox-item img{
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
} 
.fw {
    width: 100% !important;
  height: auto;
}


/* ------------------------------- */
/* Cardbox Base
---------------------------------- */
.cardbox-base{
 border-bottom: 2px solid #f4f4f4;
} 
.cardbox-base ul{
 margin: 10px 0px 10px 15px!important; 
 padding: 10px !important;
 font-size: 0px;  
  display: inline-block;
}
.cardbox-base li {
  list-style: none;
  margin: 0px 0px 0px -8px !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block;
}

.cardbox-base li a{
  margin: 0px !important;
  padding: 0px !important;
}
.cardbox-base li a i{
 position: relative;
 top: 4px; 
 font-size: 16px;
 color: #8d8d8d;
 margin-right: 15px;
}
.cardbox-base li a span{
 font-family: 'Rokkitt', serif;
 font-size: 14px;
 color: #8d8d8d;
 margin-left: 20px;
 position: relative;
 top: 5px; 
}
.cardbox-base li a em{
 font-family: 'Rokkitt', serif;
 font-size: 14px;
 color: #8d8d8d;
 position: relative;
 top: 3px; 
}
.cardbox-base li a img{
  width: 25px;
  height: 25px;
  margin: 0px !important;
  border: 2px solid #fff;
}
.modal-content {
    background: #f7f7f7;
    position: relative;
    z-index: 20;
    border-radius: 5px;
}




/*  Twitter tweets END  */

.message-evaluation{
  background-color: white;
  width: 40%;
  border: 3px solid black;
  padding: 50px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 30%;
  border-radius: 25px;
}