{% extends "layout.html" %}
{% block content %}

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

		<script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollgress.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.slidertron.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skel.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-xlarge.css') }}">


		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2 style="font-size: 350%; font-family: 'Times New Roman', Times, serif;">How it Works</h2>
				</header>
				<div class="container5">
					<div class="row5 150%">
						<div class="4u 12u$(2)">
						
							<!-- Sidebar -->
								<section id="sidebar">
									<section>
										<video width="520" height="310"  controls autoplay>
										  	<source src="static/Images/video.mp4" type="video/mp4">
										  	Your browser does not support the video tag.
										</video>
									</section>
								</section>
						</div>
						<div class="8u 12u$(2) important(2)">
						
							<!-- Content -->
								<section style="max-width: 70%; margin-left: 25%;" id="content">
									<p style="margin-top: 10%;">The mission of FactMe is to help news consumers to better undestand the content and empower to judge the news articles by providing information quality indicators. To use FactMe you can provide an URL of the article or the article text.</p> 
									<p> FactMe will provide a disinformation score which will predict the credibility of the article and also the indicators of disinformation that were used to compute the disinformations score.</p> 
								</section>
								
						</div>
					</div>
					<div style="margin-left: 3%; max-width: 95%;">
						<hr>
						<h3 style="font-size: 2.5em; text-align: center;">Classification of the article</h3>
						<br>
						<p>We use Artificial Inteligence to classify the content. Our Natural Language Processing has a big database of news articles which help us to learn how false content look like and detect by presenting a credibility score.</p>
						<p>FactMe will help detecting the credibility by presenting <b>indicators of disinformation</b> and a <b>disinformation score</b> </p>
						<ul style="list-style-type: circle;  margin-left: 5%;">
							<li><b>Indicators of disinformation- </b> The indicators of disinformations can be <b>content-based</b> which are reflected in the article text and <b>context-based</b> which are reflected surronding the news content. We have computed in total of 8 indicators using machine learning algorithms and present them in a color-form to help you analyze and evaluate the news article. </li>
							<br>
							<li><b>Disinformation score-</b> We have also associated a score to the article using the indicators.</li>
							<br>
						</ul>

						<p>The colors respresented has the following meaning:</p>
						<div style="margin-left: 3%;">
							<div style="align-items: flex-start; display: flex; ">
								<h4 class="dot" style="background-color: green">  </h4><p style="margin-top: 0.5%;">&emsp;Shows no perceived or irrelevant misleading tendencies in the news. The user can have a high-level of trust in the article.</p>
							</div>

							<div style="align-items: flex-start; display: flex; ">
								<h4 class="dot" style="background-color: yellow">  </h4><p style="margin-top: 0.5%;">&emsp;This reveals that the article is classified as dubious because some fake tendencies have been detected.</p>
							</div>

							<div style="align-items: flex-start; display: flex; ">
								<h4 class="dot" style="background-color: red">  </h4><p style="margin-top: 0.5%;">&emsp;This shows the user that high fake tendencies were detected, and the user should read the article with caution.</p>
							</div>
						</div>
						<hr>
						<h3 style="font-size: 2.5em; text-align: center;">Indicators of disinformations</h3>
						<br>
						<ul style="list-style-type: circle; margin-left: 5%;">
							<li><b>Emotion-</b> One characteristic of disinformation is that it may make an inflammatory emotional appeal to the reader. It is then essential to detect the emotions that news transmit. This category is focused on theoretical models for discrete emotion based on the six basic emotions: Anger, Disgust, Fear, Hapiness, Sadness, Surprise </li>
							<br>
							<li><b>Subjectivity-</b> This category is responsible for distinguishing factual information from subjective information. Subjective expressions are used to express an opinion, emotion, evaluation, stance, or speculation. Subjective terms can be strong subjective (terms used without subjective meaning) and weak subjective (used for objective or subjective expressions). </li>
							<br>
							<li><b>Affectivity-</b> Disinformation often employs a higher number of emotional words than informative text. Affectivity metrics compute statistics on emotional words present in text and highlight variations to informative content. These metrics are based on a three-dimensional emotion representation: Valence: Corresponds to the concept of polarity; Arousal: Degree of excitement/calmness; Dominance: Control over specific stimulus. </li>
							<br>
							<li><b>Polarity-</b> The sentiment is expressed through subjective expressions to describe people’s opinions, appraisals, or feelings toward a given target. </li>
							<br>
							<li><b>BP (Behavioral & Physiological)-</b> In a news article, the author also shows the feelings he had about the reported information. Such feelings, which depend on his behavior and psychological processes, can help detect disinformation. The BP category corresponds to six processes such as: Biological (body, health, sexual); Cognitive: (insight, causation, discrepancy, certainty, inclusion and exclusion); Perceptual (sounds, smells, physical sensations); Personal (work, achievement, leisure, money, religion); Relative (motion, spatio-temporal locations of people); Social (family, friends). </li>
							<br>
							<li><b>Grammatical-</b> This category is based in Part-of-Speech (PoS) tagging considering therole,  definition,  and  context  of  the  terms.   Grammatical  metrics  consider  content  words  (i.e.,  nouns,verbs, adjectives, adverbs) and function words (i.e., prepositions, pronouns, conjunctions, determiners).This category also includes the degree of informality (or typographical error ratio) of a text. </li>
							<br>
							<li><b>Source credibility-</b> This indicators shows the credibility of the article according to the ERC (Entidade Reguladora para a Comunicação Social) which is the entity responsible for the regulation and supervision of all entities that pursue social communication activities in Portugal. To be registered by this entity, the journalistic company must be classified as a press by the Portuguese law of press (Lei n.º 2/99, de 13 de Janeiro), which requires the company to verify the veracity of the news. This indicator show if the URL of the article belongs a company registered by ERC. </li>
							<br>
							<li><b>Related Tweets-</b> Fake article can be shared in a viral way across the internet, and one of those platforms is Twitter. We show to the users how the submitted article is being shared on Twitter. For that it is taken into account some properties like the number of users shared the article, number of retweets each user had, number of followers, number of likes, date and if it is a verified profile by Twitter. These properties can help a user to conclude something about the credibility of the news.  </li>
							<br>
						</ul>


				</div>




			</section>


	</body>
</html>

	
{% endblock content %}