<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>FactMe</title>
    {% endif %}
</head>
<body>
    <div >
    <div class="header">
      <h1> <span class="notranslate"> FactMe</span><p style="font-size: 15%; margin-top: 2%; margin-bottom: 0%;">Disinformation detector</p></h1>

    </div>

    <nav class="navbar navbar-expand-sm">
      <!-- Brand -->

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="HomePage"><img src="static/Images/home.png" style= "width:25px; height:25px; text-align: center;" ></img></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fact-checks</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Evaluation </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <a class="dropdown-item" href="evaluation"> Evaluation of Indicators </a>
                <a class="dropdown-item" href="evaluation_interface"> Evaluation of interface </a>
            </div>

        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        
      </ul>
      <div id="google_translate_element" style="text-align: center; margin: auto; margin-left: 45%;"></div>
    </nav>

      {% block content %}{% endblock %}
    <div class="header notice">
      <h1>Disclaimer: The purpose of this tool is to classify the news to help the consumers to judge the news and not to decide whether is True or False. <br> We are thankful to INCD (Infraestrutura Nacional de Computação Distríbuida) to offer us the server to host this site. </h1>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet"> 
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script type="text/javascript">
    var duplicate_google_translate_counter = 0;
    function googleTranslateElementInit() {
        if (duplicate_google_translate_counter == 0) {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        duplicate_google_translate_counter++;
    }
</script>
<script type="text/javascript">
    if(document.cookie == ""){
        $(document).ready(function(){   
        setTimeout(function () {
            $("#cookieConsent").fadeIn(200);
         }, 4000);
        $("#closeCookieConsent, .cookieConsentOK").click(function() {
            $("#cookieConsent").fadeOut(200);
        }); 
    });
    }
</script>


</body>
</html>
